@font-face {
  font-family: 'Geist Mono';
  src: url('/public/fonts/GeistMono-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Whois Mono';
  src: url('/public/fonts/whois-mono.woff') format('woff');
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.476rem;
}

h2 {
  font-size: 1.383rem;
}

h3 {
  font-size: 1.296rem;
}

h4 {
  font-size: 1.215rem;
}

h5 {
  font-size: 1.138rem;
}

h6 {
  font-size: 1.067rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

ul {
  padding-inline-start: 1lh;
}

ol li::marker {
  color: gray;
  font-family: sans-serif;
  font-size: 0.833rem;
}

a {
  color: oklch(0.51 0.15 24.38);
}

main {
  max-width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  padding-top: 96px;
  display: grid;
  grid-template-columns: 100px auto 200px;
  grid-template-areas: "left_sidebar center right-sidebar";
  gap: 20px;
}

::selection {
  background-color: oklch(0.51 0.15 24.38);
  color: white;
}

#introduction {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
}

#name {
  grid-column: center;
}

#social_links {
  grid-column: center;
  display: flex;
  gap: 10px;
}

#description {
  grid-column: center;
}

#skills,
#career,
#projects,
.home-section-content {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
}

#skills,
#career,
#projects {
  margin-top: 40px;

  h2 {
    grid-column: center;
    font-size: 1.138rem;
  }
}

#skill_list,
#project_list {
  grid-column: center / right-sidebar;
}

.experience {
  padding-bottom: 10px;

  p {
    margin: 0;
  }

  & + & {
    border-top: 1px dotted;
    padding-top: 10px;
  }

  .date-interval {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}

#projects {
  margin-bottom: 100px;
}

.marker-highlight{
  background: url(/images/brush_8.svg);
  /*background:  url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=fbe0e2);*/
  box-decoration-break: clone;
}