@font-face {
  font-family: 'Geist Mono';
  src: url('/public/fonts/GeistMono-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Whois Mono';
  src: url('/public/fonts/whois-mono.woff') format('woff');
}

:root {
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.476rem;
}

h2 {
  font-size: 1.383rem;
}

h3 {
  font-size: 1.296rem;
}

h4 {
  font-size: 1.215rem;
}

h5 {
  font-size: 1.138rem;
}

h6 {
  font-size: 1.067rem;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

ul {
  padding-inline-start: 1lh;
}

ol li::marker {
  color: #666;
  font-family: sans-serif;
  font-size: 0.833rem;
}

a {
  color: oklch(0.51 0.15 24.38);
}

pre {
  background-color: #eee;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 4px;
  overflow-x: auto;
}

main {
  max-width: min(90ch, 100% - 4rem);
  margin-inline: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: 100px auto 200px;
  grid-template-areas: "left_sidebar center right-sidebar";
  gap: 20px;

  @media screen and (max-width: 810px) {
    padding-top: 72px;
    grid-template-columns: 100px auto auto;
  }
}

::selection {
  background-color: oklch(0.51 0.15 24.38);
  color: white;
}

#introduction {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
}

#name {
  grid-column: center;

  @media screen and (max-width: 810px) {
    grid-column: span 3;
  }
}

#social_links {
  grid-column: center;
  display: flex;
  gap: 10px;

  @media screen and (max-width: 810px) {
    grid-column: span 3;
  }
}

#icon {
  grid-column: left_sidebar;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle at center, oklch(92.929% 0.02987 12.393 / 70%) 24%, transparent 24%);
    background-size: 20px 20px;
    mask: linear-gradient(180deg, transparent 50%, oklch(92.929% 0.02987 12.393 / 70%) 51%);
    z-index: -1;
  }
}

#description {
  grid-column: center;

  @media screen and (max-width: 810px) {
    grid-column: span 3;
  }
}

#navigation {
  grid-column: right-sidebar;
  position: relative;
  text-align: right;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(circle at center, oklch(92.929% 0.02987 12.393 / 70%) 24%, transparent 24%);
    background-size: 20px 20px;
    mask: linear-gradient(45deg, transparent 50%, oklch(92.929% 0.02987 12.393 / 70%) 51%);
    z-index: -1;
  }

  a {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: bold;
    text-decoration: none;
  }
}

#skills,
#career,
#projects,
.home-section-content {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
}

#skills,
#career,
#projects {
  margin-top: 40px;

  h2 {
    grid-column: center;
    font-size: 1.138rem;

    @media screen and (max-width: 810px) {
      grid-column: span 3;
    }
  }
}

#skill_list,
#project_list {
  grid-column: center / right-sidebar;

  @media screen and (max-width: 810px) {
    grid-column: span 3;
  }
}

.experience {
  padding-bottom: 10px;

  p {
    margin: 0;
  }

  & + & {
    border-top: 1px dotted;
    padding-top: 10px;
  }

  .date-interval {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color: #666;
  }
}

.job-details {
  @media screen and (max-width: 810px) {
    grid-column: center / right-sidebar;
  }
}

.worklpace {
  em {
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
  }
}

.marker-highlight{
  background: url(/images/brush_8.svg);
  background-repeat: no-repeat;
  /*background:  url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=fbe0e2);*/
}