* { box-sizing: border-box; }

html { height: 100%; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
  line-height: 1.6em;

  margin: 0;
  height: 100%;
  overflow: hidden;
}

a {
  color: #4a3c44;

  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

a:hover { color: #cc5b68; }

img {
  width: 100%;
  height: auto;
  border: none;
}

p { margin-top: 0; }

pre {
  padding: 16px;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 3px;
}

blockquote {
  font-size: 1.6rem;

  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  position: absolute;
  left: -41px;
  top: 5px;
}

/*
 * The header is displayed as a fixed sidebar. It's hidden on smaller screen sizes.
 */
header {
  text-align: center;
  color: #999;

  position: fixed;
  height: 100%;
  width: 300px;
  background-color: rgba(77, 58, 68, 1);
  background-image: url(/assets/images/bears_small_overlay.jpg);
  background-position: center;
  background-size: cover;
  z-index: 8;
}

@media screen and (max-width: 820px) {
  header { width: 200px; }
}

@media screen and (max-width: 628px) {
  header {
    width: 0;
    overflow: hidden;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }

  /*
   * A slide-out menu implementation.
   *
   * On small screen sizes the sidebar (header) disappears, and the user sees a
   * standard menu icon. When the icon is clicked header:target selector is
   * triggered and the sidebar appears. The main content is moved 200px to the right
   * so tat the sidebar wouldn't overlap with it, and the menu icon would
   * still be available to click (it's necessary to close the sidebar).
   */
  header:target { width: 200px; }
  header:target + main { right: -200px; }
  header:target + main #menu-switch-on { display: none; }
  header:target + main #menu-switch-off { display: inline-block; }
}

header a {
  color: white;
  text-decoration: none;
}

header nav {
  font-variant: small-caps;

  margin-top: 32px;
}

header nav a {
  font-size: 1.1rem;

  display: block;
  height: 60px;
  padding-top: 15px;
}

@media screen and (max-width: 820px) {
  header nav a {
    height: 40px;
    padding-top: 6px;
  }
}

header nav a.current {
  color: #333;

  background-color: rgba(255, 255, 255, .4);
}

header img:first-child {
  max-width: 200px;
  margin-top: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 820px) {
  header img:first-child {
    max-width: 140px;
    margin-top: 40px;
    border-radius: 50%;
  }
}

header h1 { color: white; }

@media screen and (max-width: 820px) {
  header h1 { font-size: 1.2rem; }
}

header p {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;

  margin: 0 40px;
}

@media screen and (max-width: 820px) {
  header p {
    font-size: .9rem;

    margin: 0 20px;
  }
}

/*
 * Social network links and other contact information is displayed in the
 * bottom of the sidebar.
 */
header > div:last-child {
  position: absolute;
  bottom: 10px;
  width: 300px;
}

@media screen and (max-width: 820px) {
  header > div:last-child { width: 200px; }
}

header > div:last-child a {
  font-size: 1.2rem;

  display: inline-block;
  margin: 0 4px;
}

main {
  display: block;
  padding-left: 300px;
  position: relative;
}

@media screen and (max-width: 820px) {
  main { padding-left: 200px; }
}

@media screen and (max-width: 628px) {
  main {
    padding-left: 0;

    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
  }
}

main > div:nth-child(2),
footer p {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

main > div:first-child {
  font-size: 1.4rem;

  height: 0;
  overflow: hidden;
  margin-bottom: 50px;
  background-color: rgba(77, 58, 68, 1);
}

@media screen and (max-width: 628px) {
  main > div:first-child {
    padding: 10px 20px 0;
    height: 44px;
    overflow: hidden;
  }
}

main > div:first-child a,
main > div:first-child span {
  display: inline-block;
  color: white;
}

main > div:first-child > a:last-child {
  font-size: 1rem;
  text-decoration: none;

  float: right;
}

#menu-switch-off { display: none; }

div.home article { margin-bottom: 60px; }

.meta {
  font-size: .9rem;
  color: #999;

  margin-bottom: 20px;
}

footer {
  font-size: .9rem;

  padding-bottom: 20px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
