{% include header.html %}

{% if page.gradient and page.gradient > 0 and page.gradient < 6 %}
	{% assign gradient = page.gradient %}
{% else %}
	{% assign gradient = 1 %}
{% endif %}

<section class="content">
  
	<article>
    
		<header class="gradient-{{ gradient }}" data-animation="fadeInDownBig">

			{% include excerpt.html %}

		</header>

		<div class="body" data-animation="fadeInUp">

			{{ content }}

		</div>

		<footer>

			{% include meta.html %}

			{% include comments.html %}

			{% include pagination.html %}

		</footer>

	</article>

</section>

{% include teaser.html %}

{% include footer.html %}