---

---

<html lang="en">
	<head>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="Aigars Dzerviniks is a software developer focused on simplicity and efficiency.">
		<meta name="generator" content={Astro.generator} />

		<link rel="canonical" href="https://aigars.digital">
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="text/css" href="/css/global.css">

		<title>Astro</title>
	</head>
	<body>
		<slot />
	</body>
</html>
